<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анкета пользователя</title>
</head>
<body>

    <nav><a href="http://127.0.0.1:8000/registration/" style="border: 1px solid black; border-radius: 5px; text-decoration: none;">Регистрация пользователя</a></nav>


      <div style="width: 300px;
                      margin: auto;
                      border: 2px solid black;
                      text-align: center;
                      margin-top: 130px;">
          {{ profile.name }} {{ profile.surname }} - {{ profile.age }}
          <p>{{ profile.description }}</p>
          <p>{{ profile.salary }} $ в месяц</p>






  </div>

</body>
</html>